{% extends "base.twig" %}
{% block title %}{{entry['title']}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="../../public/css/normalize.css">
<link rel="stylesheet" href="../../public/css/site.css">
{% endblock %}
{% block content %}

  <section>
    <div class="container">
      <div class="entry-list single">
        <article>
          <h1>{{entry['title']}}</h1>
          <time datetime="{{entry['date']}}">{{entry['date']}}</time>
          <div class="entry">
            {{entry['body']}}
            <p><a class="link" href="edit.html">Edit Entry</a></p>
          </div>
        </article>
      </div>
    </div>
  </section>


{% endblock %}
