{% extends "base.twig" %}
{% block title %}{{entry['title']}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="../../public/css/normalize.css">
<link rel="stylesheet" href="../../public/css/site.css">
{% endblock %}
{% block content %}

  <section>
    <div class="container">
      <div class="entry-list single">
        <article>
          <h1>{{entry['title']}}</h1>
          <time datetime="{{entry['date']}}">{{ entry['date']|date('F d, Y') }}</time>
          <div class="entry">
            {{entry['body']}}
            <p><a class="link" href="/entries/{{entry['id']}}/edit">Edit Entry</a></p>
          </div>

          <div class="new-comment">
            <div class="container">
              <h2> Leave a Comment <h2>
              <form method="post">
                {% import "forms.twig" as forms %}
                {{ forms.input('name') }}
                {{ forms.textarea('body')}}
                <input type="submit" value="Add Your Comment" class="button">
              </form>
            </div>
          </div>


          <div class="entry-comments container">
            <h2> Comments </h2>
            {% for comment in comments %}
              <article class="comment">
                <p>
                  {{comment['body']}}
                </p>
                <p> by: {{comment['name']}} </p>
              </article>
            {% endfor %}
          </div>

        </article>
      </div>
    </div>
  </section>


{% endblock %}
