
{% macro input(name, value, type = "text", help) %}
  <div class="form-group">
    <label for="{{ name }}">{{ name }}</label>
    <input class="form-control" type="{{ type }}" id="{{ name }}" name="{{ name }}" value="{{ value }}" />
    {% if help %}<small class="form-text text-muted">{{ help }}</small>{% endif %}
  </div>
{% endmacro %}

{% macro textarea(name, value, rows = 5) %}
    <label for="{{ name }}">{{ name }}</label>
    <textarea id="{{ name }}" name="{{ name }}" class="form-control" rows="{{ rows }}">{{ value }}</textarea>
{% endmacro %}
